body{
    width:100%;
    margin:0;
}
#firstHeader{
    background-color:#001B58; 
    height: 65px;
}
#logo{
    margin: 10px;
}
#sidebar{
    background-color: #ccc;
    height: 100vh;
}
.bt-sidebar{
    padding-left: 35px;
}
.bt-sidebar:hover{
    background-color:#a1a1a1;
    border-radius: 5px;
}
.a-sidebar{
    text-decoration: none;
    color: #000;
}
.a-sidebar:hover{
    color: #000;
    cursor: pointer;
}
.mgtp35{
    margin-top: 35px;
}
.pdtp15{
    padding-top: 15px; 
}