<div class='col-md-2'>
    <aside id="sidebar">
        <div class='bt-sidebar '>
            <a class='a-sidebar' href="\">Cadastro</a>
        </div>
        <div class='bt-sidebar'>
            <a class='a-sidebar' href="\transaction" >Transações</a>
        </div>
        <div class='bt-sidebar'>
            <a class='a-sidebar' href="\inventory">Saldos em estoque</a>
        </div>
        <div class='bt-sidebar'>
            <a class='a-sidebar' href="\average">Consumo médio</a>
        </div>
    </aside>
</div>
<div class='col-md-10' id="content">


